@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: "Readex Pro", Nunito, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #254053;
  overflow-x: hidden; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: .8;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(60px); }
  80% {
    opacity: .8;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    opacity: .8;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.float-r {
  float: right; }

.text-align-c {
  text-align: center; }

.heading-primary {
  color: #254053;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-weight: 600;
    line-height: 60px;
    display: block;
    font-size: 4rem;
    animation: moveInLeft 1s ease-out;
    align-items: center; }
    .heading-primary--main span {
      color: #FFCB45; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    animation: moveInRight 1s ease-out; }

.section {
  height: auto;
  padding: 80px 204px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }

.section-skills {
  background-color: #f7f7f7;
  margin-top: -20rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(90, 115, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-size: cover;
  clip-path: ellipse(70% 50% at 50% 50%); }

.section-courses {
  margin-top: -15rem;
  padding: 20rem 0;
  background-color: #F7F7F7; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--animated {
  animation: moveInBottom 2s ease-in-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #5a73fc;
  display: inline-block;
  border-bottom: 1px solid #5a73fc;
  padding: 0.3rem;
  transition: .2s ease-in; }

.btn-text:hover {
  background-color: #5a73fc;
  color: #fff;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem) scale(1.1); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.btn--large {
  padding: 12px; }

.btn--blue {
  background-color: #5a73fc;
  color: #fff; }

.btn--yellow {
  background-color: #FFCB45;
  color: #254053; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 50%;
    border-radius: 2rem;
    cursor: pointer;
    transition: .2s ease-in; }
    .composition__photo--photo2 {
      width: 60%;
      left: 6rem;
      top: -3rem; }
    .composition__photo--photo1 {
      width: 30%;
      left: 4rem;
      top: 18rem; }
    .composition__photo--photo3 {
      width: 40%;
      right: 4rem;
      top: 20rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      z-index: 100; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px; }

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: .1ch;
  line-height: 1;
  padding-bottom: .5em;
  margin-bottom: 1rem;
  position: relative; }
  .heading:after {
    display: block;
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0; }

.card {
  color: inherit;
  cursor: pointer;
  width: calc(100% - 2rem);
  min-width: calc(100% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative; }

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms; }

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif; }
  .front:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: .25;
    z-index: -1; }
  .card:hover .front {
    transform: rotateY(180deg); }
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg); }

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em; }
  .back .button {
    background: linear-gradient(135deg, #1a9be6, #1a57e6); }
    .back .button:before {
      box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
      background-color: rgba(26, 87, 230, 0.25); }
  .card:hover .back {
    transform: rotateY(0deg); }
  .card:nth-child(even) .back {
    transform: rotateY(180deg); }
    .card:nth-child(even) .back .button {
      background: linear-gradient(135deg, #e61a80, #e61a3c); }
      .card:nth-child(even) .back .button:before {
        box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
        background-color: rgba(230, 26, 60, 0.25); }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg); }

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease; }
  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: '';
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px; }
  .button:hover {
    transform: translateZ(55px); }
    .button:hover:before {
      transform: translateZ(-55px); }
  .button:active {
    transform: translateZ(20px); }
    .button:active:before {
      transform: translateZ(-20px);
      top: 12px; }

.cart-icon {
  position: relative;
  color: #254053;
  font-size: 24px;
  margin-right: 7px;
  float: left;
  cursor: pointer; }

.badge {
  background-color: #FFCB45;
  border-radius: 1rem;
  color: #254053;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  margin: -1rem -1.5rem; }

.swiper-container {
  background: linear-gradient(270deg, #f7f9ff 0%, #f2f6ff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  position: relative;
  max-width: 420px;
  height: 100%;
  max-height: 420px;
  border-radius: 10px; }

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative; }

.slider-image-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden; }

.slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  background: linear-gradient(270deg, #f7f9ff 0%, #f2f6ff 100%);
  cursor: grab; }
  .slider-item-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s; }
    .slider-item-content h1 {
      margin: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #26384E;
      transform: translateY(20px);
      transition: all 0.4s ease;
      transition-delay: 0.2s;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .slider-item-content p {
      font-size: 16px;
      line-height: 24px;
      color: #889DB8;
      transform: translateY(20px);
      transition: all 0.4s ease;
      transition-delay: 0.3s;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .slider-item-content > * {
      opacity: 0;
      transform: translateY(20px); }

.swiper-slide-active .slider-item-content > * {
  transform: translateY(0px);
  opacity: 1; }

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s; }

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important; }

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgba(255, 185, 0, 0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s; }

.swiper-pagination-bullet-active {
  background: #FFB200;
  width: 20px;
  border-radius: 10px; }

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px; }

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: relative;
  margin-left: 4px; }
  .swiper-button-next:before,
  .swiper-button-prev:before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: .2s; }
  .swiper-button-next:hover:before,
  .swiper-button-prev:hover:before {
    width: 100%; }

@media screen and (max-width: 520px) {
  .swiper-button-next:hover:before,
  .swiper-button-prev:hover:before {
    display: none; } }

.header {
  background-color: #FFF9EA;
  padding: 25px 60px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  width: 100%;
  transition: 0.6s ease-in-out all;
  border-bottom: 1px solid #FFCB45; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px; }
    .header__logo--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0; }
  .header__links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 37px;
    align-items: center;
    padding-right: 74px;
    font-size: 1.8rem;
    font-weight: bold; }
    .header__links * {
      text-decoration: none;
      color: rgba(29, 29, 29, 0.7); }
  .header__find {
    padding-right: 32.5px; }
  .header__buy {
    padding-right: 28px; }
  .header__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 122px;
    height: 38px;
    background-color: #FFCB45;
    border-radius: 50px;
    cursor: pointer;
    box-sizing: border-box; }
    .header__sign:hover {
      background-color: #ffbd12; }

.sticky {
  position: fixed;
  top: 0;
  background-color: #fbefd0;
  transition: 0.6s ease-in-out all;
  z-index: 1000; }

.sticky + main {
  padding-top: 92px; }

.wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: "your desired width"; }

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.section-hero {
  background: url("../imgs/background-hero.png");
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  position: relative;
  clip-path: ellipse(76% 60% at 50% 35%);
  top: 0;
  padding: 25px 60px; }

.shopping-cart {
  right: -32rem;
  margin-right: 60px;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s ease-out;
  position: absolute; }
  .shopping-cart--active {
    opacity: 1;
    right: 0;
    position: fixed;
    top: 90px; }
  .shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 4rem; }
    .shopping-cart .shopping-cart-header .shopping-cart-total {
      float: right;
      font-size: 1.5rem;
      font-weight: 600; }
  .shopping-cart .shopping-cart-list {
    padding-top: 20px; }
    .shopping-cart .shopping-cart-list li {
      margin-bottom: 18px; }
    .shopping-cart .shopping-cart-list img {
      width: 20%;
      float: left;
      margin-right: 12px; }
    .shopping-cart .shopping-cart-list .item-name {
      display: block;
      font-weight: 600;
      font-size: 1.6rem; }
    .shopping-cart .shopping-cart-list .item-price {
      color: #254053;
      margin-right: 8px;
      font-size: 1.6rem; }
    .shopping-cart .shopping-cart-list .item-quantity {
      color: #254053;
      font-size: 1.6rem; }

.shopping-cart:after {
  bottom: 100%;
  left: 40%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 15px;
  margin-left: -15px; }

.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 1.6rem;
  margin: 25px 0 15px 0; }
  .button:hover {
    background: #729ef9; }

.shopping-cart-item:after {
  content: "";
  display: table;
  clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(1*((100% - 3*6rem) / 2) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }

.section__service {
  height: auto;
  padding: 80px 204px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .section__service--title {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #ffd050; }
  .section__service--ask {
    padding: 7px 0 28px 0;
    box-sizing: border-box;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px; }
  .section__service--content {
    width: 611px;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    padding-bottom: 32px; }

.section__service-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 165px; }

.section___service-rows {
  width: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .section___service-rows--title {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0; }
  .section___service-rows--text {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #1D1D1D; }

.section__ourmenu {
  padding: 0 124px 0 124px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .section__ourmenu--title {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #979749; }
  .section__ourmenu--ask {
    padding: 7px 0 28px 0;
    box-sizing: border-box;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px; }
  .section__ourmenu--content {
    width: 611px;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    padding-bottom: 32px; }
  .section__ourmenu--btn {
    padding: 11px 21px;
    box-sizing: border-box;
    border: none;
    border-radius: 58px;
    background-color: #ffd050;
    cursor: pointer;
    font-family: "Inter", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-top: 50px; }

.section__ourmenu {
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .section__ourmenu--title {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #ffd050; }
  .section__ourmenu--ask {
    padding: 7px 0 28px 0;
    box-sizing: border-box;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px; }
  .section__ourmenu--content {
    width: 450px;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    padding-bottom: 32px; }
  .section__ourmenu--btn {
    animation: moveInBottom 2s ease-in-out 1s;
    animation-fill-mode: backwards;
    padding: 11px 21px;
    box-sizing: border-box;
    border: none;
    border-radius: 58px;
    background-color: #ffd050;
    transition: background-color 4s linear;
    transition-delay: 2s;
    cursor: pointer;
    font-family: "Inter", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-top: 50px; }

.section__ourmenu__food {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0; }

.section__ourmenu--item {
  width: calc(25% - 3rem);
  margin-bottom: 3rem;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .section__ourmenu--item__wrapper {
    width: 100%;
    height: 36rem;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s; }
    .section__ourmenu--item__wrapper:hover {
      transform: scale(1);
      box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2); }
    .section__ourmenu--item__wrapper .container {
      width: 100%;
      height: 100%; }
      .section__ourmenu--item__wrapper .container .top {
        height: 75%;
        width: 100%;
        background: no-repeat center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%; }
      .section__ourmenu--item__wrapper .container .bottom {
        width: 200%;
        height: 25%;
        transition: transform 0.5s; }
        .section__ourmenu--item__wrapper .container .bottom.clicked {
          transform: translateX(-50%); }
        .section__ourmenu--item__wrapper .container .bottom h1 {
          margin: 0;
          padding: 0;
          font-weight: bold; }
        .section__ourmenu--item__wrapper .container .bottom p {
          margin: 0;
          padding: 0; }
        .section__ourmenu--item__wrapper .container .bottom .left {
          height: 100%;
          width: 50%;
          background: #f4f4f4;
          position: relative;
          float: left; }
          .section__ourmenu--item__wrapper .container .bottom .left .details {
            padding: 14px 25px;
            float: left;
            font-size: 1.8rem; }
          .section__ourmenu--item__wrapper .container .bottom .left .buy {
            cursor: pointer;
            float: right;
            height: 100%;
            background: #f1f1f1;
            transition: background 0.5s;
            border-left: solid thin rgba(0, 0, 0, 0.1); }
            .section__ourmenu--item__wrapper .container .bottom .left .buy i {
              font-size: 30px;
              padding: 30px;
              color: #254053;
              transition: transform 0.5s; }
            .section__ourmenu--item__wrapper .container .bottom .left .buy:hover {
              background: #FFCB45; }
            .section__ourmenu--item__wrapper .container .bottom .left .buy:hover i {
              transform: translateY(5px);
              color: #00394B; }
        .section__ourmenu--item__wrapper .container .bottom .right {
          width: 50%;
          background: #FFCB45;
          color: #254053;
          float: right;
          height: 200%;
          overflow: hidden; }
          .section__ourmenu--item__wrapper .container .bottom .right .details {
            font-size: 1.5rem;
            font-weight: bold;
            padding: 20px;
            float: right;
            width: 70%; }
          .section__ourmenu--item__wrapper .container .bottom .right .done {
            float: left;
            transition: transform 0.5s;
            border-right: solid thin rgba(255, 255, 255, 0.3);
            height: 50%;
            width: 30%; }
            .section__ourmenu--item__wrapper .container .bottom .right .done i {
              font-size: 30px;
              padding: 30px;
              color: #254053; }
          .section__ourmenu--item__wrapper .container .bottom .right .remove {
            width: calc(30% - 1px);
            clear: both;
            border-right: solid thin rgba(255, 255, 255, 0.3);
            height: 50%;
            background: #BC3B59;
            transition: transform 0.5s, background 0.5s; }
            .section__ourmenu--item__wrapper .container .bottom .right .remove:hover {
              background: #9B2847; }
            .section__ourmenu--item__wrapper .container .bottom .right .remove:hover i {
              transform: translateY(5px); }
            .section__ourmenu--item__wrapper .container .bottom .right .remove i {
              transition: transform 0.5s;
              font-size: 30px;
              padding: 30px;
              color: #254053; }
    .section__ourmenu--item__wrapper .inside {
      z-index: 9;
      background: #FFCB45;
      width: 140px;
      height: 140px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 200px 200px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden; }
      .section__ourmenu--item__wrapper .inside .icon {
        position: absolute;
        right: 85px;
        top: 85px;
        color: #254053;
        opacity: 1; }
      .section__ourmenu--item__wrapper .inside:hover {
        width: 100%;
        right: 0;
        top: 0;
        border-radius: 0;
        height: 75%; }
        .section__ourmenu--item__wrapper .inside:hover .icon {
          opacity: 0;
          right: 15px;
          top: 15px; }
        .section__ourmenu--item__wrapper .inside:hover .contents {
          opacity: 1;
          transform: scale(1);
          transform: translateY(0); }
      .section__ourmenu--item__wrapper .inside .contents {
        padding: 5%;
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(-200%);
        transition: opacity 0.2s, transform 0.8s; }
        .section__ourmenu--item__wrapper .inside .contents p {
          font-size: 1.5rem;
          text-align: justify; }

.section .button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: .5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease; }
  .section .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: '';
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px; }
  .section .button:hover {
    transform: translateZ(55px); }
    .section .button:hover:before {
      transform: translateZ(-55px); }
  .section .button:active {
    transform: translateZ(20px); }
    .section .button:active:before {
      transform: translateZ(-20px);
      top: 12px; }

.section__about {
  padding: 45px 141px 80px 200px;
  box-sizing: border-box;
  height: 410px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 101px; }

.section__about-left--food {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; }

.section__about-mon12 {
  width: 238px;
  height: 238px; }

.section__about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0; }
  .section__about-right--title {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #ffd050;
    padding-top: 21px; }
  .section__about-right--ask {
    width: 481px;
    padding: 9px 0 32px 0;
    box-sizing: border-box;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px; }

.section__about-comment {
  width: 451px;
  background-color: #F1F1F1;
  border-radius: 10px;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 19px;
  flex-wrap: wrap; }
  .section__about-comment--content {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(29, 29, 29, 0.7);
    margin: 0; }

.section__about-auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px; }
  .section__about-auth--name {
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #1D1D1D; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.section__discount {
  padding: 100px 130px;
  box-sizing: border-box; }

.section__discount-background {
  background-image: url(../imgs/background.png);
  background-size: cover;
  width: 100%;
  height: 332px;
  position: relative;
  border-radius: 10px; }

.section__discount-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px; }
  .section__discount-content--title {
    width: 524px;
    font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    color: #FFF;
    text-align: center; }
  .section__discount-content--btn {
    animation: moveInBottom 4s ease-in-out 3s;
    padding: 10px 32px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #ffd050;
    cursor: pointer;
    border: none;
    color: #333;
    font-weight: 800;
    transition: background-color 0.2s ease; }
    .section__discount-content--btn--btn:hover {
      background-color: aqua; }

.footer {
  background-color: #FFF9EA; }
  .footer__foot {
    padding: 81px 238px 91px 130px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0; }
  .footer__food {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px; }
    .footer__food--title {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0px; }
    .footer__food--des {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0; }
    .footer__food--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px; }
  .footer__company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px; }
    .footer__company--title {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0px; }
    .footer__company--des {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0; }
  .footer__policy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px; }
    .footer__policy--title {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0px; }
    .footer__policy--des {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0; }
  .footer__touch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px; }
    .footer__touch--title {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0px; }
    .footer__touch--des {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0; }
  .footer--flex-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; }
    .footer--flex-end > div:nth-child(1) {
      width: 82%;
      height: 2px;
      background-color: black; }
    .footer--flex-end > div:nth-child(2) {
      font-family: "Readex Pro", "Nunito", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
      text-align: center;
      padding: 47px 0;
      box-sizing: border-box; }
